$bg: #22001b;
$main_white: #ffffff;
$wb1: #cb0fac;
$wb2: #4a1174;
$green: #50ff14;
$success: #66BB6A;
$orange: #fb511a;
$red: #e3271a;
$danger: #f44336;
$transulasntPurple: #66496d;
$darkPurple: #19031f;
$transulasntGreen: #95ffb3;
$darkPurple: #19031f;
$yellow: #FFE605;
