@import "@/theme/colors.scss";

.container {
  background-color: $bg;
  min-height: 100vh;
  padding: 50px 20px 100px 20px;
  overflow: hidden;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 283.33px;
    height: 415.32px;
    left: calc(50% - 283.33px / 2 - 161.34px);
    top: calc(50% - 415.32px / 2 - 186.95px);
    background: #4a1174;
    filter: blur(150px);
    transform: rotate(-10.86deg);
  }

  &::after {
    content: "";
    position: absolute;
    width: 249px;
    height: 365px;
    left: calc(50% - 249px / 2 + 99.5px);
    top: calc(50% - 365px / 2 + 332.43px);
    background: #4a1174;
    filter: blur(150px);
    transform: rotate(-10.86deg);
  }

  .infoPills {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .topInfo {
    display: flex;
    justify-content: space-between;
    gap: 15px;
  }

  .infoCountPill {
    display: flex;
    align-items: center;
    padding: 12px 10px;
    gap: 5px;
    min-height: 60px;
  }

  .heroPill {
    flex: 1.5;
    font-weight: 700;
    font-size: 0.75rem;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      background: linear-gradient(91.7deg, #c00204 0%, #f83c27 99.37%);
      width: 100%;
      height: calc(100% - 21px);
      left: -2px;
      right: 0px;
      bottom: -2px;
      border-radius: 15px;
      padding: 2px;
      z-index: 2;
    }
  }

  .heroPillWrap {
    border: none !important;
    background-position-y: 25%;
    height: 100%;
    z-index: 3;
    position: relative;
    overflow: hidden;
  }

  .heroPillImgBg,
  .heroPillImg {
    position: absolute;
    background-repeat: no-repeat;
    background-size: 130px;
    width: 130px;
    height: 90px;
    top: -15%;
    right: -15px;
  }

  .heroPillImg {
    right: -25px;
  }

  .infoCount {
    font-size: 1.75rem;
    font-weight: 900;
  }

  .totalCoinsCounter {
    justify-content: center;
    padding: 19px 30px !important;
    background: url("@/assets/imgs/purple_dash.png") no-repeat right;
  }

  .totalCoinsCount {
    font-size: 3rem;
    font-family: "Japanese 3017";
    word-break: break-all;
  }

  .bottomInfo {
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }

  .fruitPill {
    flex: 2;
  }

  .fruitPillWrap {
    font-size: 0.75rem;
    font-weight: 700;
    border: 2px solid #cb10ac !important;
    background: $darkPurple !important;
    position: relative;
    overflow: hidden;
  }

  .fruitPillImgLeft,
  .fruitPillImgRight {
    position: absolute;
    transform: rotate(-10deg);
    right: 8px;
    z-index: 3;
    top: -8px;
  }
  .fruitPillImgRight {
    transform: scaleX(-1);
    right: -5px;
    z-index: 2;
    opacity: 50%;
  }

  .boostPill {
    max-width: 97px;
  }

  .boostPillWrap {
    min-height: 60px;
    position: relative;
    background: url("@/assets/imgs/purple_splash.png"),
      linear-gradient(122.68deg, #cd00ff 7.08%, #12000c 95.07%);

    background-size: 150%;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 10px #95ffb3;
    border: 2px solid #51ff14 !important;
    &::after {
      content: "";
      position: absolute;
      background: url("@/assets/imgs/rocket.png");
      background-repeat: no-repeat;
      width: 100%;
      height: 80px;
      background-size: 120%;
      background-position-x: center;
      background-position-y: center;
      left: 0px;
      bottom: -5px;
    }
  }

  .boostPillWrapActivated {
    filter: grayscale(100%);
  }

  .mainFruitImage {
    width: 100%;
    height: 100%;
    transition: 300ms ease;
    &:active {
      transform: scale(1.2);
    }
  }

  .ComboTapCounter {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    font-size: 2.25rem;
    width: 173.43px;
    height: 128.24px;
    background: url("@/assets/imgs/orange_splash.png") no-repeat;
    background-size: 100%;
    background-position-x: 15px;
    font-family: "Japanese 3017";
    transition: opacity 300ms ease;
    pointer-events: none;
  }
}
